.bg-4371E7 {
    background-color: $color-4371E7;
}

.bg-F2F0E5 {
    background-color: $color-F2F0E5;
}

.bg-80BAFF {
    background-color: $color-80BAFF;
}

.bg-0F122E {
    background-color: $color-0F122E;
}

.bg-E0DDDA {
    background-color: $color-E0DDDA;
}

.bg-FFFFFF {
    background-color: $color-FFFFFF;
}

.bg-00000017 {
    background-color: $color-00000017;
}

.bg-4FB4DD5C {
    background-color: $color-4FB4DD5C;
}

.text-4371E7 {
    color: $color-4371E7;
}

.text-F2F0E5 {
    color: $color-F2F0E5;
}

.text-80BAFF {
    color: $color-80BAFF;
}

.text-0F122E {
    color: $color-0F122E;
}

.text-E0DDDA {
    color: $color-E0DDDA;
}

.text-FFFFFF {
    color: $color-FFFFFF;
}

.text-00000017 {
    color: $color-00000017;
}

.text-4FB4DD5C {
    color: $color-4FB4DD5C;
}

.font12 {
    font-size: $font12;
}

.font14 {
    font-size: $font14;
}

.font16 {
    font-size: $font16;
}

.font17 {
    font-size: $font17;
}

.font18 {
    font-size: $font18;
}

.font20 {
    font-size: $font20;
}

.font24 {
    font-size: $font24;
}

.font26 {
    font-size: $font26;
}

.font28 {
    font-size: $font28;
}

.font35 {
    font-size: $font35;
}

.font55 {
    font-size: $font55;
}

.font30 {
    font-size: $font30;
}

.font36 {
    font-size: $font36;
}

.font40 {
    font-size: $font40;
}

.font45 {
    font-size: $font45;
}

.font65 {
    font-size: $font65;
}

.font75 {
    font-size: $font75;
}

.leading55 {
    line-height: $leading55;
}

.leading22 {
    line-height: $leading22;
}

.leading66 {
    line-height: $leading66;
}

.leading61 {
    line-height: $leading61;
}

.leading50 {
    line-height: $leading50;
}

.leading65 {
    line-height: $leading65;
}

.leading54 {
    line-height: $leading54;
}

.leading45 {
    line-height: $leading45;
}

.leading48 {
    line-height: $leading48;
}

.leading25 {
    line-height: $leading25;
}

.leading42 {
    line-height: $leading42;
}

.leading44 {
    line-height: $leading44;
}

.leading34 {
    line-height: $leading34;
}

.leading18 {
    line-height: $leading18;
}

.leading34 {
    line-height: $leading34;
}

.leading75 {
    line-height: $leading75;
}

.space0_8 {
    letter-spacing: $space0_8;
}

.space1_8 {
    letter-spacing: $space1_8;
}

.space3_2 {
    letter-spacing: $space3_2;
}

.space2_4 {
    letter-spacing: $space2_4;
}

.space2_8 {
    letter-spacing: $space2_8;
}

.space2_25 {
    letter-spacing: $space2_25;
}

.space3_75 {
    letter-spacing: $space3_75;
}

.space1_75 {
    letter-spacing: $space1_75;
}

.space2_75 {
    letter-spacing: $space2_75;
}

.space-0_48 {
    letter-spacing: $space-0_48;
}

.radius4 {
    border-radius: $radius4;
}

.radius5 {
    border-radius: $radius5;
}

.radius10 {
    border-radius: $radius10;
}

.radius20 {
    border-radius: $radius20;
}

@include media-breakpoint-down(lg) {
    .res-font12 {
        font-size: $font12;
    }

    .res-font14 {
        font-size: $font14;
    }

    .res-font16 {
        font-size: $font16;
    }

    .res-font17 {
        font-size: $font17;
    }

    .res-font18 {
        font-size: $font18;
    }

    .res-font20 {
        font-size: $font20;
    }

    .res-font24 {
        font-size: $font24;
    }

    .res-font26 {
        font-size: $font26;
    }

    .res-font28 {
        font-size: $font28;
    }

    .res-font35 {
        font-size: $font35;
    }

    .res-font55 {
        font-size: $font55;
    }

    .res-font30 {
        font-size: $font30;
    }

    .res-font36 {
        font-size: $font36;
    }

    .res-font40 {
        font-size: $font40;
    }

    .res-font45 {
        font-size: $font45;
    }

    .res-font65 {
        font-size: $font65;
    }

    .res-font75 {
        font-size: $font75;
    }

    .res-leading55 {
        line-height: $leading55;
    }

    .res-leading22 {
        line-height: $leading22;
    }

    .res-leading66 {
        line-height: $leading66;
    }

    .res-leading61 {
        line-height: $leading61;
    }

    .res-leading50 {
        line-height: $leading50;
    }

    .res-leading65 {
        line-height: $leading65;
    }

    .res-leading54 {
        line-height: $leading54;
    }

    .res-leading45 {
        line-height: $leading45;
    }

    .res-leading48 {
        line-height: $leading48;
    }

    .res-leading25 {
        line-height: $leading25;
    }

    .res-leading42 {
        line-height: $leading42;
    }

    .res-leading44 {
        line-height: $leading44;
    }

    .res-leading34 {
        line-height: $leading34;
    }

    .res-leading18 {
        line-height: $leading18;
    }

    .res-leading34 {
        line-height: $leading34;
    }

    .res-leading75 {
        line-height: $leading75;
    }

    .res-space0_8 {
        letter-spacing: $space0_8;
    }

    .res-space1_8 {
        letter-spacing: $space1_8;
    }

    .res-space3_2 {
        letter-spacing: $space3_2;
    }

    .res-space2_4 {
        letter-spacing: $space2_4;
    }

    .res-space2_8 {
        letter-spacing: $space2_8;
    }

    .res-space2_25 {
        letter-spacing: $space2_25;
    }

    .res-space3_75 {
        letter-spacing: $space3_75;
    }

    .res-space1_75 {
        letter-spacing: $space1_75;
    }

    .res-space2_75 {
        letter-spacing: $space2_75;
    }

    .res-space-0_48 {
        letter-spacing: $space-0_48;
    }

    .res-radius5 {
        border-radius: $radius5;
    }

    .res-radius10 {
        border-radius: $radius10;
    }

    .res-radius20 {
        border-radius: $radius20;
    }
}