button,
[type=button],
[type=reset],
[type=submit] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

.btnA{
    &.header-btn{
        height: 85px;

        background-color: $color-F2F0E5;

    }
}
