button,
[type=button],
[type=reset],
[type=submit] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

.btnA {
    height: 75px;

    &.header-btn {
        height: 85px;
        background-color: $color-F2F0E5;
    }

    &.bg-4371E7-btn {
        background-color: $color-4371E7;
        border: 1px solid transparent;
        color: $color-F2F0E5;

        &:hover {
            border: 1px solid $color-4371E7;
            background-color: transparent;
            color: $color-4371E7;
        }
    }

    &.bg-4371E7-white-btn {
        background-color: $color-4371E7;
        border: 1px solid transparent;
        color: $color-F2F0E5;

        &:hover {
            border: 1px solid $color-F2F0E5;
            background-color: transparent;
        }
    }

    &.bg-F2F0E5-btn {
        background-color: $color-F2F0E5;
        border: 1px solid transparent;
        color: $color-4371E7;

        &:hover {
            border: 1px solid $color-4371E7;
            background-color: transparent;
            color: $color-4371E7;
        }
    }

    &.bg-F2F0E5-black-btn {
        background-color: $color-F2F0E5;
        border: 1px solid transparent;
        color: $black;

        &:hover {
            border: 1px solid $color-F2F0E5;
            background-color: transparent;
        }
    }

    &.border-F2F0E5-btn {
        background-color: transparent;
        border: 1px solid $color-F2F0E5;
        color: $color-F2F0E5;

        &:hover {
            background-color: $color-F2F0E5;
            color: $black;
        }
    }

    &.border-4371E7-btn {
        background-color: transparent;
        border: 1px solid $color-4371E7;
        color: $color-0F122E;

        &:hover {
            background-color: $color-4371E7;
            border: 1px solid transparent;
            color: $color-F2F0E5;
        }
    }

    &.light-4371E7-text-btn {
        background-color: $color-F2F0E5;
        color: $color-4371E7;
        border: 1px solid transparent;

        &:hover {
            background-color: transparent;
            border: 1px solid $color-F2F0E5;
            color: $color-F2F0E5;
        }

    }
}