form {
    input {
        height: 63px;

        &.light-input {
            background-color: rgba($color: $white, $alpha: 0.1);

            &::placeholder {
                color: $color-F2F0E5;
                font-family: "barlow-regular";
                font-size: $font16;
                line-height: $leading22;
            }

        }

        &.dark-input {
            height: 75px;
            background-color: rgba($color: $color-80BAFF, $alpha: 0.2);

            &::placeholder {
                color: $color-F2F0E5;
                font-family: "barlowsemicondensed-bold";
                font-size: $font16;
                letter-spacing: $space3_2;
                line-height: $leading66;

            }

            @include media-breakpoint-down(lg) {
                height: 60px;
            }
        }

    }

    .light-textarea {
        background-color: rgba($color: $white, $alpha: 0.1);

        &::placeholder {
            color: $color-F2F0E5;
            font-family: "barlow-regular";
            font-size: $font16;
            line-height: $leading22;
        }
    }

    .checkbox-container {
        .checkmark {
            height: 28px;
            width: 28px;
            background-color: rgba($color: $color-FFFFFF, $alpha: 0.4);

            @include media-breakpoint-down(lg) {
                height: 25px;
                width: 25px;
            }
        }

        input:checked~.checkmark {
            border-color: black !important;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                width: 7px;
                height: 16px;
                border: solid #fff;
                border-width: 0 2px 2px 0;
            }
        }
    }
}