.white-border{
    border-top: 1px solid rgba($color: $white, $alpha: 0.3);
}

.border-201E21{
    border-bottom: 1px solid rgba($color: $color-201E21, $alpha: 0.1);
}

.social-icon-content{
    .social-bg{
        height: 45px;
        width: 45px;
        background-color: rgba($color: $white, $alpha: 0.3);

        .social-icon{
            width: 18px;
        }
    }
}