.location-section{
    .location-img{
        opacity: 48%;
        height: 696px;
        
        iframe{
            height: 100%;
        }

        @include media-breakpoint-down(lg){
            height: 402px;
        }
    }

    .contact-help-content{
        margin-top: -150px;
    }
}