.news-open-section{
    .left-content{
        .black-arrow{
            width: 6px;
        }
    }

    .gallary-content{
        height: 563px;

        .video-play-bg{
            height: 95px;
            width: 95px;
        }
    }
}