.news-open-section {
    .left-content {
        height: calc(100vh - 200px);
        top: 160px;

        .black-arrow {
            width: 6px;
        }

        @include media-breakpoint-down(lg) {
            height: auto;
        }
    }
}

.image-banner {

    .banner-block-img {
        &:nth-child(n+1) {
            height: 563px;

            @include media-breakpoint-down(lg) {
                height: 265px;
            }
        }

        &:nth-child(n+2) {
            height: 563px;

            @include media-breakpoint-down(lg) {
                height: 265px;
            }
        }

        &:nth-child(n+3) {
            height: 563px;

            @include media-breakpoint-down(lg) {
                height: 265px;
            }
        }
    }
}

.video-img-pause {
    &:hover {
        #pause-ban ner-video {
            display: flex !important;
            align-items: center !important;
        }
    }
}

.video-layer {
    // OG look of youtube-video
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    .playing & {
        opacity: 1;
        visibility: visible;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}

.video-preview {
    background-size: cover;

    .playing & {
        opacity: 0;
        visibility: hidden;
    }
}

.play-button,
.pause-button {
    height: 95px;
    width: 95px;

    @include media-breakpoint-down(lg) {
        height: 40px;
        width: 40px;
    }
}

.play-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid $black;
    background: transparent;
    z-index: 2;

    @include media-breakpoint-down(lg) {
        border-top: 7px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 12px solid $black;
    }
}

.pause-button::before,
.pause-button::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 35px;
    background-color: $black;

    @include media-breakpoint-down(lg) {
        height: 20px;
        width: 7px;
    }
}

.pause-button::before {
    left: 33%;

    @include media-breakpoint-down(lg) {
        left: 27%;
    }
}

.pause-button::after {
    right: 33%;

    @include media-breakpoint-down(lg) {
        right: 27%;
    }
}

.vimeo-frame {
    iframe {
        width: 100%;
        height: 100%;
    }
}